html {
  min-height: 100vh;
}

body {
  margin: 0px;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: ivory;
  width: 80%;
  margin: 140px auto 50px;
  border-radius: 20px;
}

.card .image-container {
  background-image: url('./images/bg-pattern-mobile.svg');
  background-repeat: no-repeat;
  background-position: center top;
  height: 130px;
}

.card .image-container #illustration {
  position: relative;
  display: block;
  top: -100px;
  left: -15px;
}

.faq-container {
  width: 250px;
  height: 330px;
}

.faq-container h1 {
  color: hsl(238, 29%, 16%);
  text-align: center;
}


.topdown-toggle {
  border-bottom: solid 1px hsl(240, 5%, 91%);
  cursor: pointer;
}

.topdown-toggle .question-bar {
  display: flex;
  align-items: center;
}

.topdown-toggle .question-bar h4 {
  color: hsl(238, 29%, 16%);
  line-height: 7px;
  font-weight: 300;
}

.topdown-toggle .question-bar h4:hover {
  color: hsl(14, 88%, 65%);
}

.topdown-toggle .question-bar img {
  margin-left: auto;
}

.topdown-toggle p {
  margin-top: 0px;
  color: hsl(240, 6%, 50%);
  text-align: left;
}

.hidden {
  display: none;
}

.emphasized {
  font-weight: 800;
}

.rotate {
  transform: rotate(180deg);
}

.attribution {
  font-size: 11px;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.attribution a {
  color:white;
}

@media (min-width: 376px) {
  .card {
    flex-direction: row; 
    align-items: stretch;
    width: max-content;
    max-width: 648px;
  }

  .card .image-container {
    position: relative;
    background-image: url('./images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: right -220px;
    background-size: 730px;
    height: initial;
    width: 270px;
  }

  .card .image-container #illustration {
    position: static;
    overflow: hidden;
    height: 100%;
  }


  .card .image-container #illustration img {
    position: relative;
    width: 320px;
    height: auto;
    top: 80px;
    left: -50px;
    overflow: hidden;
  }

  .card .image-container #box {
    max-width: 300px;
    display: block;
    width: 130px;
    height: auto;
    position: absolute;
    top: unset;
    left: -65px;
    bottom: 80px;
  }

  .faq-container {
    margin: 40px 60px 0px 60px;
  }

  .faq-container h1 {
    text-align: left;
  }
}